<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <!-- Configure a WCF endpoint -->
  <system.serviceModel>
      <client>
        <!-- Now using wsDualHttpBinding instead of basicHttpBinding which doesn't 
        work with a DuplexChannel to enable callbacks -->
        <endpoint name="ShoeEndPoint" address="http://localhost:13200/CardsLibrary/ShoeService" binding="wsDualHttpBinding" contract="CardsLibrary.IShoe"/>
      </client>
  </system.serviceModel>
  
</configuration>
